<main>
<div class="card text-bg-dark">
    <img class="card-img-top" src="https://picsum.photos/400/200" alt="IMG">
<div class="card-body">
<h5 class="card-title">Title</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, molestias?</p>
<a href="/summary" class="btn btn-primary">Opean</a>
</div>
</div>

<br>
<br>

<div class="row">
    
</div>



</main>