<header>
    <div class="card">
        <div class="card-body">
            <h5 class="mt-3"><strong>Pidlyskyi Yuryi</strong></h5>
        </div>
    </div>
</header>

<main>
    <div class="text-center ">
        <h2>Інформація про сторінку</h2>
    </div>
    <div class="mt-3 text-center">
        <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit deleniti inventore a rem dolorum. Alias soluta ex sit magnam facere!</span>
    </div>
    <div class="mt-5">
        <h3>Список усіх сторінок</h3>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-1">
  <div class="col">
    <div class="card">
      <img src="https://picsum.photos/400/200" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="/shopcart" class="btn btn-primary">shopcart</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://picsum.photos/400/200" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="/shopcatalog" class="btn btn-primary">shopcatalog</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://picsum.photos/400/200" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="/shophome" class="btn btn-primary">shophome</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://picsum.photos/400/200" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="/shoporder" class="btn btn-primary">shoporder</a>
      </div>
    </div>
  </div>
    <div class="col">
    <div class="card">
      <img src="https://picsum.photos/400/200" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="/shopprofile" class="btn btn-primary">shopprofile</a>
      </div>
    </div>
  </div>
      <div class="col">
    <div class="card">
      <img src="https://picsum.photos/400/200" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="/shopreview" class="btn btn-primary">shopreview</a>
      </div>
    </div>
  </div>
    <div class="col">
    <div class="card">
      <img src="https://picsum.photos/400/200" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="/car" class="btn btn-primary">car</a>
      </div>
    </div>
  </div>
    <div class="col">
    <div class="card">
      <img src="https://picsum.photos/400/200" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="/education" class="btn btn-primary">education</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://picsum.photos/400/200" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="/facebook" class="btn btn-primary">facebook</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://picsum.photos/400/200" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="/mac" class="btn btn-primary">mac</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://picsum.photos/400/200" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="/person" class="btn btn-primary">person</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://picsum.photos/400/200" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="/program" class="btn btn-primary">program</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://picsum.photos/400/200" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="/summary" class="btn btn-primary">summary</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://picsum.photos/400/200" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="/skills" class="btn btn-primary">skills</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://picsum.photos/400/200" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="/task21" class="btn btn-primary">task21</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://picsum.photos/400/200" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="/task22" class="btn btn-primary">task22</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://picsum.photos/400/200" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="/task31" class="btn btn-primary">task31</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://picsum.photos/400/200" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="/work" class="btn btn-primary">work</a>
      </div>
    </div>
  </div>
</div>
</main>